body, html {
  font-family: 'Goldman', cursive;
  font-size: 1em;
  margin: 0;
}
a {
  color: black;
}
a:hover {
  color: blue;
}

/* laatikot */
.category-section {
  display: flex;
  justify-content: space-between;
}

.category-section .a_ref {
flex: 1;
}

.category-container {
position: relative;
width: 99%;
display: block;
margin-top: 8px;
}

.header-background{
background-color: black;
width: auto;
height: 300px;
}

.overlay {
margin: auto;
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
opacity: 0;
transition: .5s ease;
background-color: #05495f;
}

.category-container:hover .overlay {
opacity: 1;
}

.overlaytext {
margin-top: 25px; 
margin-left: 5%;
text-align: left; 
color: white;
}

.category-header {
font-size: 2em;
color: white;
position: absolute;
top: 50%;
left: 50%;
-webkit-transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
text-align: center;
}

.text-box {
flex: 1;
padding: 16px;
margin: auto;
}

.text-box h1 {
  text-decoration: underline;
  margin: 0;
  font-size: 3em;
}

.text-box h2 {
  margin: 0;
}

.text-box img{
  max-width: 300px;
}

.bordered-box {
  border-color: black;
  border-style: inset;
  margin: 20px;
}
/* navigation */
.navigation-box {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  flex-direction: row;
}

nav ul {
  margin: auto;
}

nav li {
align-self: flex-start;
display:inline-block;
margin: 0px 5px
}

nav li a {color: black;}

/* Footer section */

footer {
  background-color: black;
  color: yellow;
  margin-bottom: 0;
}

footer p{
  padding-left: 40px;
  margin-bottom: 0;
}

/* RESPONSIVE MEDIA SCETION 768px MAX */

@media (max-width: 768px)
{
nav ul{
  display: flex;
  flex-direction: column;
}
.category-section {
  flex-direction: column;
}
.outer-box{
  display: flex;
  flex-direction: column;
}

.inner-box {
  flex:1;
  flex-direction: column;
}
.category-container {
  flex: 1;
  padding: 0;
  width: 100%;
}


.header-background{
  height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.overlay {
  display: none;
}

.overlaytext {
  display: none;
}

.header {
    font-size: 1.5em;
}
}

@media (max-width: 400px)
{
  .text-box img{
    max-width: 200px;
  }

  .text-box h1{
    font-size: 25px;
  }
}
@media (max-width: 270px)
{
  .text-box h1{
    font-size: 20px;
  }
}