.category-section {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.category-box {
    display: flex;
    width: auto;
    height: 300px;
    background-color: green;
    margin: 8px;
    flex: auto;
}



